.form{
  float:center;
}
.table{
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #8bf7ed38;
  border-radius: 15px;
  border: hidden;

}
button{
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
a{
  text-decoration: none;
}
@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}
