<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link href="./static/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/main.css">
    <title>Quantifed Self</title>
  </head>

  <body>

    <div class="row border-bottom">
      <div class="col" style="text-align:left">
        <img src="./static/userimg.png" style="width:40px" width="40px" height="40px" alt="no img" />
        <span style="font-size:15px"> {{user.username}} </span>
      </div>

      <div class="col text-muted" style="text-align:right">
        {{datetime.now().strftime('%d/%b/%Y, %H:%M:%S')}}

      </div>
    </div>
    <div class="row border-bottom" style="font-size:30px;text-align:center;">
      <div class="col">
        TWYW-Quantified Self {{arg.duration}} Report
      </div>
    </div>

    </div>
    </div>
    <br><br><br><br>
    <div class="row border pt-2" style="font-size:25px">
      <div class="col-6 offset-3">
        <div class="row" align="center">
          <div class="col">User id </div>
          <div class="col">{{user.id}}</div>
        </div>
        <div class="row">
          <div class="col-6">Username </div>
          <div class="col-6">{{user.username}}</div>
        </div>
        <div class="row">
          <div class="col">Email </div>
          <div class="col">{{user.email}}</div>
        </div>
        <div class="row">
          <div class="col">Active </div>
          <div class="col">{{user.active}}</div>
        </div>
        <!--
  <h4 class=" d-flex justify-content-between"><span>User id : </span><span>{{user.id}}</span></h4>
  <h4 class=" d-flex justify-content-between"><span>Username : </span><span>{{user.username}}</span></h4>
  <h4 class=" d-flex justify-content-between"><span>Email : </span><span>{{user.email}}</span></h4>
  <h4 class=" d-flex justify-content-between"><span>Active : </span><span>{{user.active}}</span></h4> -->
        <!-- <h4>Roles : {{user.roles}}</h4> -->
      </div>
    </div>
    <div class="pagebreak"></div>
    {% if user.trackers %}
    {% for tracker in user.trackers %}


    <div class="row main ">
      <div class="col-10 offset-1">
        <h4 style="text-align:center">Tracker unique id= {{tracker.tracker_id}}</h4>
        <table class='table' style="font-sie:10px">
          <thead>
            <tr>
              <th>S.no</th>
              <th>Tracker name</th>
              <th>Tracker Last update</th>
              <th>Tracker description</th>
              <th>Tracker type</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>{{loop.index}}</td>
              <td>{{tracker.name}}</td>
              <td>{% if tracker.lastupdate %}({{datetime.strftime(tracker.lastupdate,'%d/%m/%y - %H:%M:%S')}}){% else %} (-/-/- -:-:-) {% endif %}</td>
              <td>{{tracker.desc}}</td>
              <td>{{tracker.type}}</td>
            </tr>

          </tbody>
        </table>

      </div>
    </div><br>

    <div class="row">
      <div class="col-8 offset-2">
        <div class="h4 justify-content-center">Log Entries</div>
        <table class="table">
          <thead>
            <tr>
              <th>S.no</th>
              <th>Timestamp</th>
              <th>Value</th>
              <th>Note</th>
            </tr>
            {% for l in tracker.logs %}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{l.log_datetime.strftime('(%d/%b/%Y, %H:%M:%S)')}}</td>
              <td>{{l.log_value}}</td>
              <td>{{l.note}}</td>

            </tr>
            {% endfor %}
          </thead>
        </table>
        <div class="col-sm-8 col-xl-7 d-flex justify-content-center">
          <img class="img-fluid" src="static/{{tracker.name}}_{{tracker.tracker_id}}.png" alt="chart unavailable">
        </div>
      </div>
    </div>
    <div class="pagebreak"></div>
    {% endfor %}
    {% else %}
    <div class="d-flex justify-content-center">
      No data for you.
    </div>
    {% endif %}
  </body>

</html>